# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules/.vite/deps/react-dom.js.map
node_modules/.vite/deps/_metadata.json
node_modules/.vite/deps/axios.js
node_modules/.vite/deps/axios.js.map
node_modules/.vite/deps/chunk-GGZZE23M.js
node_modules/.vite/deps/chunk-GGZZE23M.js.map
node_modules/.vite/deps/chunk-HKJ2B2AA.js
node_modules/.vite/deps/chunk-HKJ2B2AA.js.map
node_modules/.vite/deps/chunk-QPB5L2J4.js
node_modules/.vite/deps/chunk-QPB5L2J4.js.map
node_modules/.vite/deps/package.json
node_modules/.vite/deps/react_jsx-dev-runtime.js
node_modules/.vite/deps/react_jsx-dev-runtime.js.map
node_modules/.vite/deps/react_jsx-runtime.js
node_modules/.vite/deps/react_jsx-runtime.js.map
node_modules/.vite/deps/react-dom_client.js
node_modules/.vite/deps/react-dom_client.js.map
node_modules/.vite/deps/react-dom.js
node_modules/.vite/deps/react-dom.js.map
node_modules/.vite/deps/react.js
node_modules/.vite/deps/react.js.map
